/* stylelint-disable length-zero-no-unit */
$bp-width-desktop: 1366px;
$bp-width-tablet: 768px;
$bp-width-phone: 360px;
$bp-width-0: 0px;

$relative-3-5: 3.5rem;
$relative-3-25: 3.25rem;
$relative-3: 3rem;
$relative-2-75: 2.75rem;
$relative-2-5: 2.5rem;
$relative-2-25: 2.25rem;
$relative-2: 2rem;
$relative-1-75: 1.75rem;
$relative-1-5: 1.5rem;
$relative-1-25: 1.25rem;
$relative-1: 1rem;
$relative-0-875: 0.875rem;
$relative-0-75: 0.75rem;
$relative-0-5: 0.5rem;
$relative-0-25: 0.25rem;

$fixed-400: 400px;
$fixed-36: 36px;
$fixed-20: 20px;
$fixed-16: 16px;
$fixed-12: 12px;
$fixed-8: 8px;
$fixed-6: 6px;
$fixed-4: 4px;
$fixed-3: 3px;
$fixed-2: 2px;
$fixed-1: 1px;
$fixed-0: 0px;

$border-radius: $fixed-4;
$border-radius-circle: 99999px;
$border-style: $fixed-0 $fixed-0 $fixed-0 $fixed-1 var(--border) inset;
$radio-selected-border-radius: $fixed-0 $fixed-0 $fixed-0 $fixed-6 var(--border) inset;
$outline-width: $fixed-3;
$focus-shadow: 0 0 0 $outline-width var(--surface1);

$form-control-margin: $fixed-0 $fixed-6;

$max-button-width: $fixed-400;
$small-padding: $fixed-8 $fixed-16;
$large-padding: $fixed-12 $fixed-20;
