@ircc-ca:registry=https://npm.pkg.github.com/ircc-ca
//npm.pkg.github.com/:_authToken=${READ_PACKAGE_GH_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
