<h3>Button angular component</h3>
<jds-button>Default/Primary jds-button</jds-button>

<jds-button>Disabled primary jds-button (broken)</jds-button>

<jds-button color='critical'>Critical primary jds-button</jds-button>

<jds-button category='secondary'>Secondary jds-button</jds-button>

<jds-button category='secondary' color='critical'>Critical secondary jds-button</jds-button>

<jds-button category='plain'>Plain jds-button</jds-button>

<jds-button category='plain' color='critical'>Critical plain jds-button</jds-button>
<h3>Checkbox angular component</h3>
<jds-checkbox>checkbox item</jds-checkbox>
<h3>Icon angular component</h3>
<jds-font-icon class="fa-solid fa-mustache"></jds-font-icon>
<h3>Link angular component</h3>
<jds-link href="#">
    <jds-font-icon class="fa-regular fa-mustache"></jds-font-icon> Jds-link example
</jds-link>