@use '~@ircc-ca/ds-sdc-core/typography/typography';
:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  .main-nav {
      flex-grow: 1;
  }
  > *:not(jds-header, jds-footer) {
      margin: 0px 10%;
  }

}
.open_in_new {
    &::after {
        margin: 0.2em;
        @include typography.fonts-FA-decor-icon('\f08e', 'fa-light');
    }
}
