@use "~@ircc-ca/ds-sdc-core/layout/layout-grid" as layouts;
@use "~@ircc-ca/ds-sdc-core/typography/typography";
.sidenav {
    grid-column: first / span 1;
    height: 100%;
    > * {
        grid-column: auto / span 1;
    }
}
.sidenav2 {
    grid-column: span 1 / last;
}
.masthead {
    grid-row: 1 / 2;
    grid-column: first / last;
    background-color: aquamarine;
}

.wrapper {
    @include layouts.grid(auto 1fr auto, 1fr auto);
    height: 100%;
}