
  <!-- Next Steps -->
  <div class="wrapper">
    <h1 class="masthead">Test Page <a href="#nowhere">asdasd</a></h1>
    <div class="sidenav panel-1-column" hidden="true">
      <h2>Panel <strong>asudnasd</strong></h2>
      <nav>
        <ul>
          <li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
          <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
          <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
          <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
          <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
        </ul>
      </nav>
    </div>
    <div class="content-area-responsive-margins">
      <h2>Next Steps</h2>
      <p>What do you want to do next with your app? <a href="#nothere">What do you want to do next with your app?</a> What do
        you want to do
        next with your app?</p>
      <p><strong>asdasdasd</strong>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      <jlcl-label [config]="config"></jlcl-label>
      <lib-header></lib-header>
      <a href="www.github.com">Github</a>
      <button>Test Button</button>
      <p>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      <p>What do you want to do next with your app?</p>
      </div>
      <div class="sidenav2 panel-2-column">
        <h2>Panel</h2>
        <nav>
          <ul>
            <li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
            <li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
            <li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
            <li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
            <li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
          </ul>
        </nav>
      </div>
  </div>