@use '~@ircc-ca/ds-sdc-core/index' as ircc-ds;
// @media (prefers-color-scheme: dark) {
//     @include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, dark);
// }
// need to update documentation for this
@media (prefers-color-scheme: light) {
    @include ircc-ds.theme-init-required(ircc-ds.palette-journeylab(), default, large, light);
}
@include ircc-ds.element-styles();


/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 8px;
}
