<h2>Sandbox 1 Component</h2>
<p>feel free to replace this content with any test content, or add any routes with a template you want to test.</p>

<br />
<jds-radio-button>Angular package radiobutton</jds-radio-button>
<br />
<input type="radio" id="html1" name="fav_language1" value="HTML1">
<label class="label" for="html1">core radio</label>
<br/>
<input type="radio" id="html2" name="fav_language2" value="HTML2" size="small">
<label class="label" for="html2">core radio small</label>
<br/>
<input type="radio" id="html3" name="fav_language3" value="HTML3" size="large">
<label class="label" for="html3">core radio large</label>
<br/>
<input type="radio" id="html4" name="fav_language4" value="HTML4" size="small" #invalidRadio required>
<label class="label" for="html4">invalid core radio</label>
<br />
<input type="radio" id="html5" name="fav_language5" value="HTML5" disabled>
<label class="label" for="html5">core radio disabled</label>
<br />
<input class="invalid" type="radio" id="html8" name="fav_language8" value="HTML8" disabled checked>
<label class="label" for="html8">core radio disabled and checked</label>