<h2>Sandbox 1 Component</h2>
<p>feel free to replace this content with any test content, or add any routes with a template you want to test.</p>

<jds-checkbox>Angular checkbox</jds-checkbox>
<br />
<input type="checkbox" id="checkbox_input1" name="checkbox_input1" value="checkbox_input1">
<label for="checkbox_input1">Core checkbox</label>
<br />
<input type="checkbox" id="checkbox_input1" name="checkbox_input1" value="checkbox_input1" checked>
<label for="checkbox_input1">Core  checkbox</label>
<br />
<input type="checkbox" id="checkbox_input1" name="checkbox_input1" value="checkbox_input1" #invalidCheckbox required>
<label for="checkbox_input1">Core invalid checkbox</label>
<br />
<input type="checkbox" id="checkbox_input1" name="checkbox_input1" value="checkbox_input1" disabled>
<label for="checkbox_input1">Core disabled checkbox</label>

