<h1>All of core:</h1>
<div class="content">
    <h2>Buttons and Nav</h2>
    <button>Primary button</button>
    <button disabled>Primary button</button>
    <button color="critical">Critical primary button</button>
    <button color="critical" disabled>Critical primary button</button>
    <button category="secondary">Secondary button</button>
    <button category="secondary" disabled>Secondary button</button>
    <button category="secondary" color="critical">Critical secondary button</button>
    <button category="secondary" color="critical" disabled>Critical secondary button</button>
    <button category="round">Round button</button>
    <button category="round" disabled>Round button</button>
    <button category="round" color="critical">Critical round button</button>
    <button category="round" color="critical" disabled>Critical round button</button>
    <nav>
        <ul>
            <li><button>Primary nav button</button></li>
            <li><button disabled>Primary nav button</button></li>
        </ul>
    </nav>
</div>