@use '../../_util/string' as string;
@use '../../_util/color' as color;

$button-category: 'category';
$button-selectors: 'button, input[type="button"], input[type="reset"], input[type="submit"], *[role="button"]';

$primary: (
  map: (
    light: (
      --text-color: neutral-1200,
    ),
    dark: (
      --text-color: neutral-200,
    ),
  ),
  selectors: $button-selectors,
);
$secondary: (
    map: (
      light: (
        --text-color: neutral-1200,
      ),
      dark: (
        --text-color: neutral-200,
      ),
    ),
    selectors: string.str-replace($button-selectors, ',', '[#{$button-category}="secondary"],'),
);
$plain: (
    map: (
      light: (
        --text-color: cta-1200,
      ),
      dark: (
        --text-color: cta-1200,
      ),
    ),
    selectors: string.str-replace($button-selectors, ',', '[#{$button-category}="plain"],'),
);

$sizing: (
    map: (
        small: (
        ),
        standard: (
        ),
        all: (
            --max-width: 400px
        )
    ),
    selectors: $button-selectors,
);

@mixin button {
    color: color.mix-token(text-color);
    max-width: var(--max-width);
}