/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use '../../util/theme' as theme;
@use '../../util/size' as size;
@use '../template-const' as template-const;
@use '../sizes' as token-size;
$selectors: 'button, input[type="button"], input[type="reset"], input[type="submit"], *[role="button"]';

@mixin button($category: 'primary', $color: 'cta') {
    @include selectors {
        @include theme.selector($category, 'category', 'primary') {
            @if not $color {
                @content;
            } @else {
                @include theme.selector($color, 'color', 'cta') {
                    @content;
                }
            }
        }
    }
}

@mixin button-size-padding {
    @include size.selector(small) {
        padding: token-size.$small-padding;
    }

    @include size.selector(large) {
        padding: token-size.$large-padding;
    }
}

@mixin selectors {
    #{$selectors} {
        @content;
    }
}

@mixin layout {
    border-radius: token-size.$border-radius;
    border-style: none;
    justify-content: center;
    max-width: token-size.$max-button-width;

    @include button-size();
    @include button-size-padding();

    color: var(--text);
}

@mixin layout-round {
    border-radius: 99999px;
    border-style: none;
    justify-content: center;
    aspect-ratio: 1 / 1;
    @include button-size();

    color: var(--text);
}
@mixin button-size {
    @include size.selector(small) {
        @extend .h6;
    }

    @include size.selector(large) {
        @extend .h5;
    }
}