@use '../../util/theme';
@use "./button-const";
@use "./plain";
@use "../template-const";
@use "../../util/device";

@mixin tokens($palette) {
    @include plain.tokens($palette);
}

@mixin nav($direction: 'row', $palette) {
    @include selectors() {
        @include theme.selector($direction, 'direction', 'row') {
            @include wrap($direction) {

                a:any-link {
                    @include tokens($palette);
                }
                @include button-const.selectors {
                    @include tokens($palette);
                }
            }
        }
        
    }
}

@mixin selectors {
    @at-root {
        #{template-const.$root-selectors} {
            nav {
                @content;
            }
        }

    }

}

@mixin wrap($direction: 'row') {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
            ::marker {
                content: none;
            }
        li {
            display: contents;
            @content;
        }
    }
}

@mixin layout() {
    --text: var(--text-primary);
    text-decoration: none;

    @include button-const.layout();
}