@use '../../util/color' as color;
@use '../text' as text;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use './button-const' as button-const;
@use '../../util/device' as device;
@use '../sizes' as sizes;

$plain: 'plain';
$default-color: null;

@mixin tokens($palette) {
    @include theme.select-attribute($palette, color, $default-color) {
        @include theme.light {
            --text: #{color.mix-token($palette, 700)};
            --text-disabled: #{color.mix-token($palette, 300)};
        }
        @include theme.dark {
            --text: #{color.mix-token($palette, 600)};
            --text-disabled: #{color.mix-token($palette, 1000)};
        }
    }
}

@mixin layout() {
        @include button-const.layout();
        
    background-color: var(--generic);
    color: var(--text);
    @include device.if-hover {
        background: var(--generic-hover);
    }

    &:active {
        background: var(--generic-active);
    }

    &:disabled {
        --text: var(--text-disabled);
        color: var(--text);
        background: var(--generic);
    }
    }

/// create the layout and tokens for a plain button
/// @param {List} $palette: a list of palettes desired, reflective of the role
@mixin create(
    $palette: (
        cta,
        critical,
    )
) {
    @include button-const.selectors() {
        &:where([category='#{$plain}']) {
            @each $key in $palette {
                @if not $default-color{
                    $default-color: $key !global;
                }
                @include tokens($key);
            }
            @include layout();
        }
        
    }
}
