@use '../../util/color' as color;
@use '../../util/size' as size;
@use '../text' as text;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use './button-const' as button-const;
@use '../../util/device' as device;

$primary: 'primary';

@mixin button-primary($palette, $text-palette) {
    @include theme.light {
        #{button-const.$selectors} {
            @include button-const.button(
                $category: $primary,
                $color: $palette
            ) {
                @include device.if-hover {
                    --background-hover: #{color.mix-token($palette, 800)};
                }
                --background: #{color.mix-token($palette, 700)};
                --background-active: #{color.mix-token($palette, 900)};
                --background-disabled: #{color.mix-token($palette, 300)};
                --text: #{color.mix-token($text-palette, 100)};
            }
        }
    }

    @include theme.dark {
        #{button-const.$selectors} {
            @include button-const.button(
                $category: $primary,
                $color: $palette
            ) {
                @include device.if-hover {
                    --background-hover: #{color.mix-token($palette, 500)};
                }
                --background: #{color.mix-token($palette, 700)};
                --background-active: #{color.mix-token($palette, 400)};
                --background-disabled: #{color.mix-token($palette, 1000)};
                --text: #{color.mix-token($text-palette, 1200)};
            }
        }
    }
}

@mixin create() {
    @include button-const.selectors() {
        @include button-const.layout();
        @include button-const.button($category: $primary, $color: null) {
            @include layout();
        }
    }
}

@mixin layout() {
    background-color: var(--background);
    @include device.if-hover {
        background-color: var(--background-hover);
    }

    &:active {
        background-color: var(--background-active);
    }

    &:disabled {
        background-color: var(--background-disabled);
    }
}
