@use '../../util/color' as color;
@use '../text' as text;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use './button-const' as button-const;
@use '../../util/device' as device;
@use '../sizes' as sizes;

$round: 'round';

@mixin button-round($palette) {
    @include theme.light {
        #{button-const.$selectors} {
            @include button-const.button($category: $round, $color: $palette) {
                @include theme.tokens-for-map(
                    (
                        --text: color.mix-token($palette, 700),
                        --text-disabled: color.mix-token($palette, 300),
                    )
                );
            }
        }
    }

    @include theme.dark {
        #{button-const.$selectors} {
            @include button-const.button($category: $round, $color: $palette) {
                @include theme.tokens-for-map(
                    (
                        --text: color.mix-token($palette, 600),
                        --text-disabled: color.mix-token($palette, 1000),
                    )
                );
            }
        }
    }
}

@mixin create() {
    @include button-const.selectors {
        @include button-const.button($category: $round, $color: null) {
            @include layout();
        }
    }
}

@mixin layout() {
    @include button-const.layout-round();

    background-color: var(--generic);
    @include device.if-hover {
        background-color: var(--generic-hover);
    }

    &:active {
        background-color: var(--generic-active);
    }

    &:disabled {
        --text: var(--text-disabled);

        background-color: var(--generic);
    }
}
