<h1 id="top">Page contents - Core - QA</h1>
<hr />
<ol>
    <li><a href="/sandbox3#buttons">Buttons</a></li>
    <li><a href="/sandbox3#tabs">Tabs/Nav</a></li>
    <li><a href="/sandbox3#text-input">Text input</a></li>
    <li><a href="/sandbox3#text-area">Text area</a></li>
    <li><a href="/sandbox3#checkbox">Checkbox</a></li>
    <li><a href="/sandbox3#radio">Radio</a></li>
    <li><a href="/sandbox3#links">Links</a></li>
</ol>
<hr />
<h1 id="buttons">Buttons</h1>
<button>Primary</button>
<button disabled>Primary</button>
<br><br>
<button color="critical">Critical primary</button>
<button color="critical" disabled>Critical primary</button>
<br><br>
<button category="secondary">Secondary</button>
<button category="secondary" disabled>Secondary</button>
<br><br>
<button category="secondary" color="critical">Critical secondary</button>
<button category="secondary" color="critical" disabled>Critical secondary</button>
<br><br>
<!-- potentially deprecated
<button category="round">Round</button>
<button category="round" disabled>Round</button>
<br><br>
<button category="round" color="critical">Critical round</button>
<button category="round" color="critical" disabled>Critical round</button>
<br><br> -->
<button category="plain">Plain</button>
<button category="plain" disabled>Plain</button>
<br><br>
<button category="plain" color="critical">Critical plain</button>
<button category="plain" color="critical" disabled>Critical plain</button>
<hr />
<h1 id="tabs">Nav/Tabs</h1>
<nav>
    <ul>
        <li><button selected>Tab 1 - selected</button></li>
        <li><button>Tab 2 - default</button></li>
        <li><button disabled>Tab 3 - disabled</button></li>
        <li><a href="">Tab 4 - anchor</a></li>
    </ul>
</nav>
<hr />
<h1 id="text-input">Text Input</h1>
<br />
<label class="label">Basic small text input:</label>
<br />
<input size="small" type="text" value="Default">
<br />
<label class="label">Basic large text input:</label>
<br />
<input size="large" type="text" value="Default">
<br />
<label class="label">Basic small text input, disabled:</label>
<br />
<input size="small" type="text" value="Default" disabled>
<br />
<label class="label">Basic large text input, disabled:</label>
<br />
<input size="large" type="text" value="Default" disabled>
<br />
<label class="label">Basic small text input, readonly:</label>
<br />
<input size="small" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic large text input, readonly:</label>
<br />
<input size="large" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic small text input, required:</label>
<br />
<input size="small" type="text" value="" required>
<br />
<label class="label">Basic large text input, required:</label>
<br />
<input size="large" type="text" value="" required>
<br />
<label class="label">Basic small text input, 8+ characters required:</label>
<br />
<input size="small" type="text" value="Default" pattern=".{8,}">
<br />
<label class="label">Basic large text input, 8+ characters required:</label>
<br />
<input size="large" type="text" value="Default" pattern=".{8,}">
<hr />
<h1 id="text-area">TextArea</h1>
<br />
<label class="label">Basic large textarea</label>
<br />
<textarea rows="5" cols="50" size="large">The textarea tag defines a multi-line text input control.  The textarea element is often used in a form, to collect user inputs like comments or reviews.  A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
</textarea>
<br />
<label class="label">Basic small textarea</label>
<br />
<textarea rows="5" cols="50" size="small">The textarea tag defines a multi-line text input control.  The textarea element is often used in a form, to collect user inputs like comments or reviews.  A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
</textarea>
<br />
<label class="label">Required input textarea, no size defined</label>
<br />
<textarea rows="5" cols="50" required placeholder="Something is required here"></textarea>
<br />
<label class="label">Disabled input textarea, no size defined</label>
<br />
<textarea rows="5" cols="50" disabled></textarea>
<hr />
<h1 id="checkbox">Checkbox</h1>
<djl-form-checkbox label="Checkbox" description="Checkbox description" hint="Hint text" error-text="Error text"
    required>
    <input type="checkbox" id="default-1">
    <label for="default-1">Option 1</label><br />
    <input type="checkbox" id="default-2" disabled>
    <label for="default-2">Option 2 - disabled</label>
</djl-form-checkbox>
<djl-form-checkbox label="Parent-child checkbox" description="Description Text" hint="Hint Text" error-text="Error text"
    type="parent-child">
    <input type="checkbox" id="parent-1">
    <label for="default-1">Parent</label><br />
    <input type="checkbox" id="child-1">
    <label for="default-2">Child 1</label><br />
    <input type="checkbox" id="child-2" disabled>
    <label for="default-2">Child 2</label><br />
</djl-form-checkbox>
<hr />
<h1 id="radio">Radio buttons</h1>
<jds-radio-button>Angular package radiobutton</jds-radio-button>
<br />
<input type="radio" id="html1" name="fav_language1" value="HTML1">
<label class="label" for="html1">core radio</label>
<br />
<input type="radio" id="html2" name="fav_language2" value="HTML2" size="small">
<label class="label" for="html2">core radio small</label>
<br />
<input type="radio" id="html3" name="fav_language3" value="HTML3" size="large">
<label class="label" for="html3">core radio large</label>
<br />
<input type="radio" id="html4" name="fav_language4" value="HTML4" size="small" #invalidRadio required>
<label class="label" for="html4">invalid core radio</label>
<br />
<input type="radio" id="html5" name="fav_language5" value="HTML5" #invalidCheckedRadio checked>
<label class="label" for="html5">core invalid checked</label>
<br />
<input type="radio" id="html6" name="fav_language6" value="HTML6" disabled>
<label class="label" for="html6">core radio disabled</label>
<br />
<input class="invalid" type="radio" id="html8" name="fav_language8" value="HTML8" disabled checked>
<label class="label" for="html8">core radio disabled and checked</label>
<hr />
<h1 id="links">Links</h1>
<a href="/sandbox3#links">Example link</a>
<br />