*{
    margin: 1rem;
}

ul > li {
    display: inline-block;
}

ul {
    list-style: none;
}

.fixed-content {
    bottom: 10%;
    right: 0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 1rem;
    height: 2.5%;
    width: 20%;
}
