@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use '../sizes' as sizes;
@use '../../util/device' as device;
@use '../../util/size' as size;

@mixin common {
    border-style: solid;
    border-width: sizes.$fixed-1;
    border-radius: sizes.$border-radius;
    color: var(--text-primary);

    @include size.selector(small) {
        @extend .body3;
    }

    @include size.selector(large) {
        @extend .body2;
    }

    &:focus {
        outline-width: sizes.$fixed-2;
        outline-offset: sizes.$fixed-2;
        border-color: var(--border);
        &:invalid {
            border-color: var(--critical-border);
        }
    }

    &::placeholder {
        color: var(--text-placeholder);
    }
    
}

@mixin valid {
    border-color: var(--border);
    background-color: var(--surface1);

    @include device.if-hover {
        border-color: var(--border-hover);
    }

    &:focus {
        border-color: var(--border);
    }

    @include device.if-touch {
        &:active {
            border-color: var(--border-hover);
            background-color: var(--generic-active);
        }
    }

    &:disabled {
        border-color: var(--border-disabled);
        color: var(--text-disabled);
    }
}

@mixin invalid {
    &:invalid {
        border-color: var(--critical-border);
        background-color: var(--critical-background-weak);

        @include device.if-hover {
            border-color: var(--critical-border-hover);
        }

        &:focus {
            border-color: var(--critical-border);
        }

        @include device.if-touch {
            &:active {
                    border-color: var(--critical-border-hover);
                    background-color: var(--critical-background-weak-hover);
            }
        }
    }
}