@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use '../sizes' as sizes;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use './input-const' as input-const;

@mixin input-textarea-selector  {
    textarea {
        @content;
    }
}

@mixin create {
    @at-root {
        #{template-const.$root-selectors} {
            @include input-textarea-selector() {
                @include input-const.common();
                @include input-const.valid();
                @include input-const.invalid();
                @include layout();
            }
        }
    }
}

@mixin layout {
    resize: vertical;

    @include size.selector(small) {
        padding: sizes.$fixed-10 sizes.$fixed-16 sizes.$fixed-10 sizes.$fixed-14;
    }

    @include size.selector(large) {
        padding: sizes.$fixed-14 sizes.$fixed-16 sizes.$fixed-14 sizes.$fixed-20;
    }

}

