/* stylelint-disable selector-max-universal */
@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../template-const' as template-const;
@use '../sizes' as sizes;

@mixin tokens($palette) {
    @include theme.light {
        --focus-border: #{color.mix-token($palette, 700)};
        --focus-border-weak: #{color.mix-token($palette, 200)};
    }
    @include theme.dark {
        --focus-border: #{color.mix-token($palette, 600)};
        --focus-border-weak: #{color.mix-token($palette, 1100)};
    }
}

@mixin create($palette: focus) {
    @include selector {
        @include tokens($palette);
        @include layout();
    }
}

@mixin layout {
    outline: var(--focus-border) solid sizes.$outline-width;
    outline-offset: sizes.$outline-width;
    box-shadow: sizes.$focus-shadow;
}

@mixin selector {
    *:focus {
        @content;
    }
}
