@use '~@ircc-ca/ds-sdc-core/tokens/sizes';
@use '~@ircc-ca/ds-sdc-core/util/size';

:host {
  display: block;
  .text-color-warning {
    color: var(--critical-text);
  }
  .form-checkbox-label {
    margin-bottom: sizes.$fixed-4;
  }
  .form-checkbox-desc {
    margin: 0;
  }
  .form-checkbox-hint {
    color: var(--text-placeholder);
    @if size.$size-mode == 'small' {
      margin-top: sizes.$fixed-8;
    } @else {
      margin-top: sizes.$fixed-12;
    }
  }
  .error-message {
    color: var(--critical-text);
    > djl-icon {
      margin-right: sizes.$fixed-4;
    }
  }
  ::slotted(input[type='checkbox']) {
    margin-bottom: sizes.$fixed-8 !important;
    margin-left: 0 !important;
  }
  .slot-parent-child {
    ::slotted(input[type='checkbox']:not(:first-child)) { /* stylelint-disable-line */
      margin-left: 32px !important;
    }
  }
}
