@use '../../util/color' as color;
@use '../text' as text;
@use '../../util/theme' as theme;
@use '../template-const';

@mixin tokens($palette: neutral) {
        @include theme.light {
            @media (any-hover: hover) {
                --generic-hover: #{color.mix-token($palette, 900, 0.06)};
                --border-hover: #{color.mix-token($palette, 900)};
            }

            --surface1: #{color.mix-token($palette, 100)};
            --surface2: #{color.mix-token($palette, 200)};
            --generic: #{color.mix-token($palette, 900, 0)};
            --generic-active: #{color.mix-token($palette, 900, 0.12)};
            --border: #{color.mix-token($palette, 700)};
            --divider: #{color.mix-token($palette, 300)};
            --border-disabled: #{color.mix-token($palette, 300)};
            --dimmer: #{color.mix-token($palette, 1100)};
        }
        @include theme.dark {
            @media (any-hover: hover) {
                --generic-hover: #{color.mix-token($palette, 900, 0.12)};
                --border-hover: #{color.mix-token($palette, 300)};
            }
            --surface1: #{color.mix-token($palette, 1200)};
            --surface2: #{color.mix-token($palette, 1100)};
            --generic: #{color.mix-token($palette, 1100)};
            --generic-active: #{color.mix-token($palette, 900, 0.18)};
            --border: #{color.mix-token($palette, 500)};
            --divider: #{color.mix-token($palette, 1000)};
            --border-disabled: #{color.mix-token($palette, 1000)};
            --dimmer: #{color.mix-token($palette, 1000, 0.8)};
        }
}

@mixin create($palette: neutral) {
    @at-root {
        #{template-const.$root-selectors} {
            @include tokens($palette);
        }
    }
}