@use '../../util/device';
@use '../../util/theme';
@use '../../util/color';
@use '../template-const';

@mixin create($palette: (critical, success)) {
    @at-root {
        #{template-const.$root-selectors} {
            @each $key in $palette {
                @include tokens($key);
            }
        }
    }
}

@mixin tokens($palette) {
    @include theme.light() {
        --#{$palette}-background: #{color.mix-token($palette, 700)};
        --#{$palette}-background-active: #{color.mix-token($palette, 900)};
        --#{$palette}-background-weak: #{color.mix-token($palette, 100)};
        --#{$palette}-background-weak-active: #{color.mix-token($palette, 300)};
        --#{$palette}-border: #{color.mix-token($palette, 700)};
        --#{$palette}-text: #{color.mix-token($palette, 700)};
        --#{$palette}-background-weak-hover: #{color.mix-token($palette, 200)};
        @media (any-hover: hover) {
            --#{$palette}-background-hover: #{color.mix-token($palette, 800)};
            --#{$palette}-border-hover: #{color.mix-token($palette, 800)};
        }
    }
    @include theme.dark() {
        --#{$palette}-background: #{color.mix-token($palette, 600)};
        --#{$palette}-background-active: #{color.mix-token($palette, 400)};
        --#{$palette}-background-weak: #{color.mix-token($palette, 1200)};
        --#{$palette}-background-weak-active: #{color.mix-token($palette, 1000)};
        --#{$palette}-border: #{color.mix-token($palette, 600)};
        --#{$palette}-text: #{color.mix-token($palette, 600)};
        --#{$palette}-background-weak-hover: #{color.mix-token($palette, 1100)};
        @media (any-hover: hover) {
            --#{$palette}-background-hover: #{color.mix-token($palette, 500)};
            --#{$palette}-border-hover: #{color.mix-token($palette, 500)};
        }
    }
}
