<nav direction="row">
    <ul>
        <li><button>Button</button></li>
        <li><button>Button</button></li>
        <li><button>Button</button></li>
        <li><button>Button</button></li>
        <li><button>Button</button></li>
        <li><a href="#Link2">Link Two</a></li>
        <li><a href="#Link2">Link Two</a></li>
        <li><a href="#Link2">Link Two</a></li>
        <li><a href="#Link2">Link Two</a></li>
    </ul>
</nav>

<h2>Sandbox Component</h2>
<p>feel free to replace this content with any test content, or add any routes with a template you want to test.</p>