<nav direction="row">
    <ul>
        <li><button selected>Button</button></li>
        <li><button>Button</button></li>
        <li><button disabled>Button</button></li>
        <li><button disabled selected>Button</button></li>
        <li><button disabled>Button</button></li>
        <li><a size="small" href="#Link2">Link Two</a></li>
        <li><a size="small" href="#Link2" selected>Link Two</a></li>
        <li><a size="small" href="#Link2">Link Two</a></li>
        <li><a size="small" href="#Link2">Link Two</a></li>
        </ul>
</nav>

<h2>Sandbox Component</h2>
<p>feel free to replace this content with any test content, or add any routes with a template you want to test.</p>