$bp-width-desktop: 1366px;
$bp-width-tablet: 768px;
$bp-width-phone: 360px;
$bp-width-0: 0px;

$relative-3-5: 3.5rem;
$relative-3-25: 3.25rem;
$relative-3: 3rem;
$relative-2-75: 2.75rem;
$relative-2-5: 2.5rem;
$relative-2-25: 2.25rem;
$relative-2: 2rem;
$relative-1-75: 1.75rem;
$relative-1-5: 1.5rem;
$relative-1-25: 1.25rem;
$relative-1: 1rem;
$relative-0-875: 0.875rem;
$relative-0-75: 0.75rem;
$relative-0-5: 0.5rem;
$relative-0-25: 0.25rem;

$fixed-8: 8px;
$fixed-4: 4px;
$fixed-3: 3px;
$fixed-2: 2px;
$fixed-1: 1px;

$border-radius: $fixed-4;
$body-size: (
    regular: 400,
    bold: 600
);

$header-size: (
    regular: 400,
    bold: 700
);

@mixin in-phone-layout {
    @media only screen and (min-width: $bp-width-0) and (max-width: $bp-width-phone) {
        @content;
    }
}
@mixin in-tablet-layout {
    @media only screen and (min-width: $bp-width-phone) and (max-width: $bp-width-tablet) {
        @content;
    }
}
@mixin in-desktop-layout {
    @media only screen and (min-width: $bp-width-tablet) {
        @content;
    }
}