@import "layout-var";

$gap-width: $spacing-20;

@function grid-bounds($content) {
    @return [first premier f p] #{$content} [last dernier l d];
}
%mod-layout {
    column-gap: $gap-width;
    &-margins {
        @extend %mod-layout;
        @include in-phone-layout {
            margin-left: 16px;
            margin-right: 16px;
        }
        @include in-tablet-layout {
            margin-left: 40px;
            margin-right: 40px;
        }
        @include in-desktop-layout {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

%mod-flex {
    @extend %mod-layout;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    &-margins {
        @extend %mod-flex;
        @extend %mod-layout-margins;
    }
}

%mod-grid {
    @extend %mod-layout;
    display: grid;
    justify-items: center;
    justify-tracks: center;
    > * {
        grid-column: auto / span 1;
    }
    &-margins {
        @extend %mod-grid;
        @extend %mod-layout-margins;
    }
}
.content-area-responsive {
    @extend %mod-flex;
    &-margins {
        @extend .content-area-responsive;
        @extend %mod-flex-margins;
    }
}


.header-area-responsive {
    @extend .content-area-responsive;
    grid-column: first / last;
    grid-row: first / 2;
    &-margins {
        @extend .header-area-responsive;
        @extend .content-area-responsive-margins;
    }
}

@mixin layout-grid($columns, $rows) {
    display: grid;
    grid-template-columns: grid-bounds($columns);
    grid-template-rows: grid-bounds($rows);
}

@mixin panel-column($column-count: 1) {
    .panel-#{$column-count}-column {
        @extend %mod-grid;
        grid-template-columns: grid-bounds(repeat(#{$column-count}, minmax(auto, 1fr)));
        &-margins {
            @extend %mod-grid-margins;
            @extend .panel-#{$column-count}-column;
        }
}
}

@include panel-column(1);
@include panel-column(2);
@include panel-column(3);

