$grey: (
  100: (0deg, 0%, 100%),
  200: (240deg, 11%, 96%),
  300: (240deg, 3%, 88%),
  400: (240deg, 2%, 79%),
  500: (240deg, 1%, 70%),
  600: (240deg, 1%, 61%),
  700: (240deg, 0%, 53%),
  800: (240deg, 1%, 44%),
  900: (240deg, 1%, 35%),
  1000: (240deg, 1%, 26%),
  1100: (240deg, 1%, 17%),
  1200: (240deg, 2%, 9%),
);

$navy: (
  100: (218deg, 71%, 97%),
  200: (218deg, 33%, 86%),
  300: (219deg, 30%, 75%),
  400: (218deg, 27%, 65%),
  500: (218deg, 26%, 54%),
  600: (218deg, 33%, 44%),
  700: (218deg, 51%, 33%),
  800: (218deg, 53%, 29%),
  900: (219deg, 54%, 25%),
  1000: (218deg, 58%, 20%),
  1100: (218deg, 61%, 16%),
  1200: (218deg, 69%, 12%),
);

$blue: (
  100: (228deg, 100%, 97%),
  200: (225deg, 91%, 91%),
  300: (225deg, 92%, 85%),
  400: (225deg, 90%, 80%),
  500: (225deg, 89%, 74%),
  600: (225deg, 90%, 68%),
  700: (225deg, 90%, 62%),
  800: (225deg, 60%, 52%),
  900: (225deg, 56%, 42%),
  1000: (225deg, 58%, 32%),
  1100: (225deg, 62%, 22%),
  1200: (225deg, 74%, 12%),
);

$red: (
  100: (359deg, 55%, 96%),
  200: (0deg, 43%, 85%),
  300: (359deg, 45%, 76%),
  400: (359deg, 45%, 67%),
  500: (359deg, 45%, 58%),
  600: (359deg, 46%, 49%),
  700: (359deg, 67%, 40%),
  800: (358deg, 68%, 34%),
  900: (358deg, 70%, 28%),
  1000: (359deg, 71%, 23%),
  1100: (359deg, 74%, 17%),
  1200: (359deg, 82%, 11%),
);

$orange: (
  100: (29deg, 55%, 96%),
  200: (28deg, 71%, 88%),
  300: (28deg, 73%, 80%),
  400: (29deg, 75%, 72%),
  500: (28deg, 76%, 64%),
  600: (29deg, 76%, 56%),
  700: (28deg, 82%, 48%),
  800: (29deg, 82%, 41%),
  900: (29deg, 82%, 33%),
  1000: (28deg, 82%, 26%),
  1100: (28deg, 83%, 18%),
  1200: (29deg, 82%, 11%),
);

$teal: (
  100: (194deg, 55%, 96%),
  200: (193deg, 55%, 87%),
  300: (193deg, 53%, 78%),
  400: (193deg, 53%, 70%),
  500: (194deg, 53%, 61%),
  600: (193deg, 53%, 53%),
  700: (194deg, 66%, 44%),
  800: (194deg, 68%, 38%),
  900: (193deg, 68%, 31%),
  1000: (194deg, 71%, 24%),
  1100: (193deg, 73%, 18%),
  1200: (194deg, 82%, 11%),
);

$green: (
  100: (150deg, 55%, 96%),
  200: (151deg, 49%, 85%),
  300: (150deg, 48%, 75%),
  400: (150deg, 47%, 65%),
  500: (150deg, 47%, 55%),
  600: (150deg, 59%, 44%),
  700: (150deg, 91%, 34%),
  800: (150deg, 90%, 29%),
  900: (150deg, 90%, 24%),
  1000: (150deg, 91%, 18%),
  1100: (150deg, 91%, 13%),
  1200: (150deg, 91%, 8%),
);

$purple: (
  100: (270deg, 55%, 96%),
  200: (271deg, 51%, 88%),
  300: (271deg, 49%, 80%),
  400: (270deg, 48%, 73%),
  500: (270deg, 48%, 65%),
  600: (270deg, 47%, 57%),
  700: (270deg, 48%, 50%),
  800: (270deg, 49%, 42%),
  900: (270deg, 49%, 35%),
  1000: (270deg, 51%, 27%),
  1100: (270deg, 53%, 20%),
  1200: (270deg, 60%, 13%),
);


$journeylab-palette: (
  default: (
    neutral: $grey,
    cta: $navy,
    active: $blue,
    critical: $red,
    warning: $orange,
    information: $teal,
    success: $green,
    focus: $blue,
    visited: $purple,
  ),
  greyscale: (
    neutral: $grey,
    cta: $grey,
    active: $grey,
    critical: $grey,
    warning: $grey,
    information: $grey,
    success: $grey,
    focus: $grey,
    visited: $grey,
  ),
);
