$grey: (
  100: #FFFFFF,
  200: #f5f5f7,
  300: (240deg, 3%, 88%),
  400: #c8c8cb,
  500: #b2b2b4,
  600: #9c9c9d,
  700: #868687,
  800: #6f6f71,
  900: #59595a,
  1000: #434344,
  1100: #2c2c2d,
  1200: #161617,
);

$navy: (
  100: #f0f4fc,
  200: #cfd9e7,
  300: #aebbd3,
  400: #8d9fbe,
  500: #6c82a9,
  600: #4b6695,
  700: #2a4980,
  800: #233f71,
  900: #1d3561,
  1000: #162c52,
  1100: #102242,
  1200: #091833,
);

$blue: (
  100: #f0f3ff,
  200: #d4defd,
  300: #b8c9fc,
  400: #9db4fa,
  500: #819ef8,
  600: #6589f7,
  700: #4974f5,
  800: #3c60ce,
  900: #2f4da7,
  1000: #223981,
  1100: #15265a,
  1200: #0b1233,
);

$red: (
  100: #faedee,
  200: #EACACA,
  300: #DEA8A9,
  400: #D18788,
  500: #c46567,
  600: #B84446,
  700: #AB2225,
  800: #931C1F,
  900: #7B1619,
  1000: #631112,
  1100: #4B0B0C,
  1200: #330506,
);

$orange: (
  100: #faf3ed,
  200: #f6dec9,
  300: #f1c9a5,
  400: #edb582,
  500: #e9a05e,
  600: #e48b3a,
  700: #e07616,
  800: #bd6413,
  900: #9b520f,
  1000: #783f0c,
  1100: #562d08,
  1200: #331b05,
);

$teal: (
  100: #edf7fa,
  200: #cce8f0,
  300: #abd8e5,
  400: #8ac9db,
  500: #68b9d1,
  600: #47aac6,
  700: #269abc,
  800: #1f83a1,
  900: #196d85,
  1000: #12566a,
  1100: #0c404e,
  1200: #052933,
);

$green: (
  100: #edfaf4,
  200: #C7ECDA,
  300: #A1DEC0,
  400: #7BD0A6,
  500: #54c28b,
  600: #2EB471,
  700: #08A657,
  800: #078C4A,
  900: #06733C,
  1000: #04592F,
  1100: #034021,
  1200: #022614,
);

$purple: (
  100: #f4edfa,
  200: #e1d1f0,
  300: #cdb4e5,
  400: #ba98db,
  500: #a67bd1,
  600: #935fc6,
  700: #7f42bc,
  800: #6c37a1,
  900: #592d85,
  1000: #46226a,
  1100: #33184e,
  1200: #200d33,
);


$journeylab-palette: (
  default: (
    neutral: $grey,
    cta: $navy,
    active: $blue,
    critical: $red,
    warning: $orange,
    information: $teal,
    success: $green,
    focus: $blue,
    visited: $purple,
  ),
  greyscale: (
    neutral: $grey,
    cta: $grey,
    active: $grey,
    critical: $grey,
    warning: $grey,
    information: $grey,
    success: $grey,
    focus: $grey,
    visited: $grey,
  ),
);
