@use "../../layout/layout-var" as token;
@use "../../util/color" as color;
$body: (
  map: (
    light: (
      --text-color: var(--neutral-1200),
    ),
    dark: (
      --text-color: var(--neutral-200),
    ),
  ),
  selectors: ".body1, .body2, .body3, .body4, body",
);
@mixin body($level) {
  color: color.mix-token(text-color);
  * > strong.body#{$level} {
    font-weight: map-get(token.$body-size, bold);
  }
  font-family: "Inter";
  font-weight: map-get(token.$body-size, regular);
}
@mixin body1 {
  @include body(1);
  font-size: token.$relative-1-25;
  line-height: token.$relative-1-75;
}
@mixin body2 {
  @include body(2);
  font-size: token.$relative-1;
  line-height: token.$relative-1-5;
}
@mixin body3 {
  @include body(3);
  font-size: token.$relative-0-875;
  line-height: token.$relative-1-25;
}
@mixin body4 {
  @include body(4);
  font-size: token.$relative-0-75;
  line-height: token.$relative-1-25;
}
