@use "../../_util/colour" as colour;
$alert: (
  map: (
    light: (
        background: role-300,
        border: role-700,
        icon: role-800,
        icon-hover: role-900,
        text: neutral-1100,
    ),
    dark: (
        background: role-700,
        border: role-700,
        icon: role-800,
        icon-hover: role-900,
        text: neutral-100,
    ),
  ),
  roles: (
    information,
    critical,
    warning,
    success,
  ),
  selectors: ".alert"
);
@mixin alert {
  background-color: colour.mix-token(background);
  color: colour.mix-token(text);
}
