@use "../../_util/color" as color;
$alert: (
  map: (
    light: (
      role: (
        --background: var(--role-300),
        --border: var(--role-700),
        --icon: var(--role-800),
        --icon-hover: var(--role-900),
      ),
        --text: var(--neutral-1100),
    ),
    dark: (
      role: (
        --background: var(--role-700),
        --border: var(--role-700),
        --icon: var(--role-800),
        --icon-hover: var(--role-900),
      ),
        --text: var(--neutral-100),
    ),
  ),
  roles: (
    information,
    critical,
    warning,
    success,
  ),
  selectors: ".alert"
);
@mixin alert {
  background-color: color.mix-token(background);
  color: color.mix-token(text);
}
