@use '../../layout/layout-var' as var;
@use '../../_util/colour' as colour;
$focus: (
  map: (
    light: (
        focus-outline-colour: active-700,
        focus-shadow-colour: neutral-100
    ),
    dark: (
        focus-outline-colour: active-600,
        focus-shadow-colour: neutral-1200
    ),
  ),
  selectors: "body"
);

$outline: (
    inner: var.$fixed-3,
    outer: var.$fixed-3
);

@mixin focus {
    outline: colour.mix-token(focus-outline-colour) solid map-get($outline, outer);
    outline-offset: map-get($outline, inner);
    box-shadow: 0 0 0 map-get($outline, inner ) colour.mix-token(focus-shadow-colour);
}