@use '../../layout/layout-var' as sizes;
@use '../../_util/color' as color;
@use 'sass:map';

$focus: (
    map: (
        light: (
            --focus-outline-color: var(--active-700),
            --focus-shadow-color: var(--neutral-100),
        ),
        dark: (
            --focus-outline-color: var(--active-600),
            --focus-shadow-color: var(--neutral-1200),
        ),
    ),
    selectors: 'body',
);

$outline: (
    inner: sizes.$fixed-3,
    outer: sizes.$fixed-3,
);

@mixin focus {
    outline: color.mix-token(focus-outline-color) solid map.get($outline, outer);
    outline-offset: map.get($outline, inner);
    box-shadow: 0 0 0 map.get($outline, inner)
        color.mix-token(focus-shadow-color);
}
