@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/size' as size;
@use '../../util/device' as device;
@use '../template-const' as template-const;
@use '../sizes' as token-size;

@mixin selector {
    [type='radio'] {
        @content;
    }
}

@mixin radiobutton($valid, $invalid) {
    @at-root {
        #{template-const.$root-selectors} {
            @include theme.light {
                @include selector {
                    @include theme.tokens-for-map(
                        (
                            --formcontrol-disabled: color.mix-token($valid, 300), 
                            --formcontrol: color.mix-token($valid, 700), 
                            --formcontrol-hover: color.mix-token($valid, 800),
                            --critical-background-weak-disabled: color.mix-token($invalid, 100, 0.5),
                            --formcontrol-critical-background: color.mix-token($invalid, 100), 
                            --formcontrol-critical-hover: color.mix-token($invalid, 200),
                            --critical-border-disabled: color.mix-token($invalid, 300),
                            --formcontrol-error: color.mix-token($invalid, 700),
                            --formcontrol-critical-border: color.mix-token($invalid, 800),
                            --critical-active: color.mix-token($invalid, 900)
                        )
                    );
                }
            }

            @include theme.dark {
                @include selector {
                    @include theme.tokens-for-map(
                        (
                            --formcontrol: color.mix-token($valid, 600),
                            --formcontrol-disabled: color.mix-token($valid, 1000), 
                            --formcontrol-hover: color.mix-token($valid, 900),
                            --critical-background-weak-disabled: color.mix-token($invalid, 1200, 0.5),
                            --formcontrol-critical-background: color.mix-token($invalid, 1200), 
                            --formcontrol-critical-hover: color.mix-token($invalid, 1100),
                            --critical-border-disabled: color.mix-token($invalid, 1000),
                            --formcontrol-error: color.mix-token($invalid, 600),
                            --formcontrol-critical-border: color.mix-token($invalid, 500),
                            --critical-active: color.mix-token($invalid, 400)
                        )
                    );
                }
            }
        }
    }
}

@mixin create {
    @at-root {
        #{template-const.$root-selectors} {
            @include selector() {
                @include layout();
            }
        }
    }
}

@mixin layout {
    // unchecked state
    border-radius: token-size.$border-radius-circle;
    appearance: none;
    margin: token-size.$form-control-margin;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    box-shadow: token-size.$border-style;
    vertical-align: top;

    --background-color: var(--surface1);

    @include radiobutton-size();
 
    @include device.if-hover {
        color: var(--formcontrol-hover);
    }

    &:disabled {
        --border: var(--border-disabled);
       
        & + label {
            color: var(--text-disabled);
        }
    }

    &:enabled {
        &:active {
            --background-color: var(--generic-active);
        }
    }

    @include checked();
    @include invalid();
}

@mixin checked {
    &:checked {
        --border: var(--formcontrol);
        
        box-shadow: token-size.$radio-selected-border-radius;

        &:disabled {
            --border: var(--formcontrol-disabled);
        }

        &:enabled {
            @include device.if-hover {
                --border: var(--formcontrol-hover);
            }
            
            &:active {
                --border: var(--formcontrol-hover);
            }
        }
    }
}

@mixin invalid {
    &:invalid {
        --formcontrol: var(--formcontrol-error);
        --background-color: var(--formcontrol-critical-background);

        &:enabled {
            @include device.if-hover {
                --border: var(--formcontrol-critical-border);
                --background-color: var(--formcontrol-critical-hover);
            }
    
            &:active {
                --border: var(--formcontrol-critical-border);
                --background-color: var(--critical-background-weak-disabled);
             }
        }
    }   
}

@mixin radiobutton-size {
    @include size.selector(small) {
        height: token-size.$relative-1-25;
        width: token-size.$relative-1-25;

        @extend .body3;
    }

    @include size.selector(large) {
        height: token-size.$relative-1-5;
        width: token-size.$relative-1-5;

        @extend .body2
    }
}