@use "../tokens/template-const" as template-const;
@use "../util/integer" as integer;
@mixin create($surface-start: 1) {
    @at-root {
        $surface-level: $surface-start;
        #{template-const.$root-selectors} {
            @include backgroundLevel($surface-level);
        }
    }
}

@mixin backgroundLevel($counter) {
    $name: --surface#{$counter};
    background: var($name);
};