@use '../../typography/fonts' as font;
@use '../../layout/layout-var' as sizes;
@use '../../_util/color' as color;
@use '../focus/mixins' as focus;
$anchor: (
    map: (
        light: (
            --background-active: var(--neutral-300),
        ),
        dark: (
            --background-active: var(--neutral-900),
        ),
        all: (
            --text-hover: var(--cta-800),
            --text-visited: var(--visited-800),
            --text-active: var(--cta-900),
            --text: var(--cta-700),
        ),
    ),
    selectors: 'a, .anchor, .link',
);
@mixin anchor {
    border-radius: sizes.$border-radius;
    padding: sizes.$fixed-2 sizes.$fixed-4;
    display: inline;
    &:link {
        color: color.mix-token(text);
    }
    &:hover {
        color: color.mix-token(text-hover);
    }
    &:focus {
        @include focus.focus();
        box-shadow: none;
        outline-offset: 0;
    }
    &:active {
        color: color.mix-token(text-active);
        background-color: color.mix-token(background-active);
    }
    &:visited {
        color: color.mix-token(text-visited);
    }
}
