/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use 'fonts';
@use '../tokens/text' as text;
@use '../util/size' as size;
@use '../util/color' as color;
@use '../tokens/template-const' as template-const;
@forward 'fonts' as fonts-*;
@use 'sass:map';

/// references sass variables to create font level specific properties
/// @param {Map} $map - the map of fonts to reference
/// @param {Number} $level - the font level to reference
@mixin fontSize($map, $level) {
    font-size: map.get($map, $level, font-size);
    line-height: map.get($map, $level, line-height);
}

/// Defines font weight for emphasis elements
/// @param {Number} $weight font-weight to use for emphasis on parent
@mixin emphasis($weight) {
    & strong,
    & .emphasis,
    & b,
    & .bold {
        font-weight: $weight;
    }
}

/// Defines heading levels
@mixin headings {
    %heading {
        color: var(--text-primary);
        font-weight: map.get(text.$heading, weight, regular);
        font-family: map.get(text.$heading, family);
        @include emphasis(map.get(text.$heading, weight, emphasis));
    }

    #{template-const.$root-selectors} {
        h1,
        .h1 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 1);
        }

        h2,
        .h2 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 2);
        }

        h3,
        .h3 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 3);
        }

        h4,
        .h4 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 4);
        }

        h5,
        .h5 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 5);
        }

        h6,
        .h6 {
            @extend %heading;
            @include fontSize(map.get(text.$heading, level), 6);
        }
    }
}

/// Defines body levels
@mixin body {
    %body {
        color: var(--text-primary);
        font-weight: map.get(text.$body, weight, regular);
        font-family: map.get(text.$body, family);
        @include emphasis(map.get(text.$body, weight, emphasis));
    }

    #{template-const.$root-selectors} {
        .body1 {
            @extend %body;
            @include fontSize(map.get(text.$body, level), 1);
        }

        .body2 {
            @extend %body;
            @include fontSize(map.get(text.$body, level), 1);
        }

        .body3 {
            @extend %body;
            @include fontSize(map.get(text.$body, level), 1);
        }

        .body4 {
            @extend %body;
            @include fontSize(map.get(text.$body, level), 1);
        }

        @include size.selector(small) {
            body {
                @extend .body3;
            }
        }

        @include size.selector(large) {
            body {
                @extend .body2;
            }
        }
    }
}


/// Defines typography used in the design system
@mixin create() {
    @include body();
    @include headings();
}
