@use "../layout/layout-var" as var;
@use "fonts";
@mixin createHeadings {
    @include fonts.Lato-fontFace(
      $weight: 400,
      $display: auto,
      $style: normal,
      $fontDir: "~@fontsource/lato/files",
      $fontName: "heading"
    );
  
    @include fonts.Lato-fontFace(
      $weight: 700,
      $display: auto,
      $style: normal,
      $fontDir: "~@fontsource/lato/files",
      $fontName: "heading-emphasis"
    );
  }

@mixin createBody($default-font) {
  @include fonts.Inter-fontFace(
    $weight: 400,
    $display: auto,
    $style: normal,
    $fontDir: "~@fontsource/inter/files",
    $fontName: "body"
  );

  @include fonts.Inter-fontFace(
    $weight: 600,
    $display: auto,
    $style: normal,
    $fontDir: "~@fontsource/inter/files",
    $fontName: "body-emphasis"
  );

  body {
    @extend .#{$default-font};
  }
}

@mixin create($default-font: "body2") {
  @include createHeadings();
  @include createBody($default-font);
  @include fonts.FA-create();
}