<hr>
<h2>Colours</h2>
<h3>global / neutral</h3>
<div class="surface1">
    <p>--surface1</p>
</div>
<div class="surface2">
    <p>--surface2</p>
</div>
<div class="generic">
    <p>--generic</p>
</div>
<div class="generic-hover">
    <p>--generic-hover</p>
</div>
<div class="generic-active">
    <p>--generic-active</p>
</div>
<div class="border">
    <p>--border</p>
</div>
<div class="border-hover">
    <p>--border-hover</p>
</div>
<div class="border-disabled">
    <p>--border-disabled</p>
</div>
<div class="divider">
    <p>--divider</p>
</div>
<div class="dimmer">
    <p>--dimmer</p>
</div>
<hr>
<h3>global / selected</h3>
<div class="navigation">
    <p>--navigation</p>
</div>
<div class="navigation-hover">
    <p>--navigation-hover</p>
</div>
<div class="navigation-weak">
    <p>--navigation-weak</p>
</div>
<div class="navigation-weak-hover">
    <p>--navigation-weak-hover</p>
</div>
<div class="formcontrol">
    <p>--formcontrol</p>
</div>
<div class="formcontrol-hover">
    <p>--formcontrol-hover</p>
</div>
<div class="navigation-disabled">
    <p>--navigation-disabled</p>
</div>
<div class="formcontrol-disabled">
    <p>--formcontrol-disabled</p>
</div>
<div class="text-disabled">
    <p>--text-disabled</p>
</div>
<hr>
<h3>partial / focus</h3>
<div class="focus-border">
    <p>--focus-border</p>
</div>
<hr>