

div{
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
    border: .25rem solid #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 1rem;
}

div p {
    margin: 0 7px 0 7px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

h3{
    width: 100%;
}

hr{
    width: 100%;
}


.surface1 {
    background-color: var(--surface1);
}

.surface2 {
    background-color: var(--surface2);
}

.generic {
    background-color: var(--generic);
}

.generic-hover {
    background-color: var(--generic-hover);
}

.generic-active {
    background-color: var(--generic-active);
}

.border {
    background-color: var(--border);
}

.border-hover {
    background-color: var(--border-hover);
}

.border-disabled {
    background-color: var(--border-disabled);
}

.divider {
    background-color: var(--divider);
}

.dimmer {
    background-color: var(--dimmer);
}

.navigation {
    background-color: var(--navigation);
}

.navigation-hover {
    background-color: var(--navigation-hover);
}

.navigation-weak {
    background-color: var(--navigation-weak);
}

.navigation-weak-hover {
    background-color: var(--navigation-weak-hover);
}

.formcontrol {
    background-color: var(--formcontrol);
}

.formcontrol-hover {
    background-color: var(--formcontrol-hover);
}

.navigation-disabled {
    background-color: var(--navigation-disabled);
}

.formcontrol-disabled {
    background-color: var(--formcontrol-disabled);
}

.text-disabled {
    background-color: var(--text-disabled);
}

.primary-background{
    background-color: var(--primary-background);
}

.primary-background-hover{
    background-color: var(--primary-background-hover);
}

.primary-background-disabled{
    background-color: var(--primary-background-disabled);
}

.primary-text{
    background-color: var(--primary-text);
}

.primary-text-disabled{
    background-color: var(--primary-text-disabled);
}

.focus-border{
    background-color: var(--focus-border);
}
