@import "../typography/fonts";

$anchor: (
  map: (
    light: (
    ),
    dark: (
    ),
  ),
  roles: (),
  selector: anchor
);
a,.anchor {
    &:after {
        @include decor-icon("\f35d", "fa-regular");
    }
}