@use "./alert/class" as alert;
@use "./anchor/class" as anchor;
@use "./headings/class" as headings;
@use "./body/class" as body;
@use "./focus/class" as focus;


// TODO: rename this
$component-list: (
    alert: alert.$alert,
    anchor: anchor.$anchor,
    headings: headings.$headings,
    body: body.$body,
    focus: focus.$focus,
);
