<h3>Text Input</h3>
<br />
<label class="label">Basic small text input:</label>
<br />
<input size="small" type="text" value="Default">
<br />
<label class="label">Basic large text input:</label>
<br />
<input size="large" type="text" value="Default">
<br />
<label class="label">Basic small text input, disabled:</label>
<br />
<input size="small" type="text" value="Default" disabled>
<br />
<label class="label">Basic large text input, disabled:</label>
<br />
<input size="large" type="text" value="Default" disabled>
<br />
<label class="label">Basic small text input, readonly:</label>
<br />
<input size="small" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic large text input, readonly:</label>
<br />
<input size="large" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic small text input, required:</label>
<br />
<input size="small" type="text" value="" required>
<br />
<label class="label">Basic large text input, required:</label>
<br />
<input size="large" type="text" value="" required>
<br />
<label class="label">Basic small text input, 8+ characters required:</label>
<br />
<input size="small" type="text" value="Default" pattern=".{8,}">
<br />
<label class="label">Basic large text input, 8+ characters required:</label>
<br />
<input size="large" type="text" value="Default" pattern=".{8,}">
<br />
<br />
<br />
<h3>TextArea</h3>
<br />
<label class="label">Basic large textarea</label>
<br />
<textarea rows="5" cols="50" size="large">The textarea tag defines a multi-line text input control.  The textarea element is often used in a form, to collect user inputs like comments or reviews.  A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
</textarea>
<br />
<label class="label">Basic small textarea</label>
<br />
<textarea rows="5" cols="50" size="small">The textarea tag defines a multi-line text input control.  The textarea element is often used in a form, to collect user inputs like comments or reviews.  A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
</textarea>
<br />
<label class="label">Required input textarea, no size defined</label>
<br />
<textarea rows="5" cols="50" required placeholder="Something is required here"></textarea>
<br />
<label class="label">Disabled input textarea, no size defined</label>
<br />
<textarea rows="5" cols="50" disabled></textarea>