<h3>Text Input</h3>
<br />
<label class="label">Basic small text input:</label>
<br />
<input size="small" type="text" value="Default">
<br />
<label class="label">Basic large text input:</label>
<br />
<input size="large" type="text" value="Default">
<br />
<label class="label">Basic small text input, disabled:</label>
<br />
<input size="small" type="text" value="Default" disabled>
<br />
<label class="label">Basic large text input, disabled:</label>
<br />
<input size="large" type="text" value="Default" disabled>
<br />
<label class="label">Basic small text input, readonly:</label>
<br />
<input size="small" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic large text input, readonly:</label>
<br />
<input size="large" type="text" value="Default" readonly="true">
<br />
<label class="label">Basic small text input, required:</label>
<br />
<input size="small" type="text" value="" required>
<br />
<label class="label">Basic large text input, required:</label>
<br />
<input size="large" type="text" value="" required>
<br />
<label class="label">Basic small text input, letters only:</label>
<br />
<input size="small" type="text" value="@#$%^" pattern="[A-Za-z]{20}">
<br />
<label class="label">Basic large text input, letters only:</label>
<br />
<input size="large"type="text" value="@#$%^" pattern="[A-Za-z]{20}">
<br />
<label class="label">Basic small text input, 8+ characters required:</label>
<br />
<input size="small" type="text" value="Default" pattern=".{8,}">
<br />
<label class="label">Basic large text input, 8+ characters required:</label>
<br />
<input size="large"type="text" value="Default" pattern=".{8,}">
<br />
<label class="label">Basic small text input, must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter:</label>
<br />
<input size="small" type="text" value="Default" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
<br />
<label class="label">Basic large text input, must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter:</label>
<br />
<input size="large"type="text" value="Default" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">