<my-component first="Test" last="yio"></my-component>
<br />
<web-button disabled="false" label="this is button from Stencil"></web-button>
<br />
<web-button color="cta" category="plain" size="small" disabled="true" type="button" label="Stencil button"></web-button>
<br />
<web-button  color="critical" size="small" disabled=false type="button" label="Stencil button" category="secondary"></web-button>
<br/>
<web-button aria-label-btn="button" disabled="true" color="critical" label="disabled stencil"></web-button>