<my-component first="What's up" last="yio"></my-component>
<br />
<djl-button>this is button from Stencil</djl-button>
<br />
<djl-button color="cta" category="plain" size="small" disabled="true" type="button">Stencil button</djl-button>
<br />
<djl-button  color="critical" size="small" disabled=false type="button" category="secondary">Stencil button</djl-button>
<br/>
<djl-button aria-label="button from ng" disabled="true" color="critical">disabled stencil</djl-button>
<br/>
<djl-button color="CTA" category="plain">Boo</djl-button>
<br/>
<djl-icon icon-config='{"unicode": "f6b0", "fontFamily": "fa-solid"}'></djl-icon>
<djl-icon icon-config='{"unicode": "f6b0", "fontFamily": "fa-thin"}'></djl-icon>
<djl-icon icon-config='{"unicode": "f076", "fontFamily": "fa-light", "ariaLabel": "label"}'></djl-icon>
<djl-link href="#">Test blank link</djl-link>
<br/>
<djl-link download="https://github.com/" href="#" target="_blank">Test Download link</djl-link>
