<my-component first="What's up" last="yio"></my-component>
<br />
<djl-button>this is button from Stencil</djl-button>
<br />
<djl-button color="cta" category="plain" size="small" disabled="true" type="button">Stencil button</djl-button>
<br />
<djl-button  color="critical" size="small" disabled=false type="button" category="secondary">Stencil button</djl-button>
<br/>
<djl-button aria-label="button from ng" disabled="true" color="critical">disabled stencil</djl-button>
<br/>
<djl-button color="CTA" category="plain">Boo</djl-button>