@use '~@ircc-ca/ds-sdc-core/tokens/sizes';
@use '~@ircc-ca/ds-sdc-core/layout/layout-grid';

:host{
  width: 100%;
}

.heading {
  padding-top: sizes.$fixed-8;
}

.headerLine {
    background-color: var(--header-line);
    width: 100%;
    height: sizes.$fixed-2;
    margin-top: sizes.$fixed-24;
    border: none;
}

.grid-container {
    padding: sizes.$fixed-8;
    display: grid;
    @include layout-grid.grid(max-content auto, auto);
    * {grid-column: auto / span 1};

    align-items: center;

    img {
      min-width: 295px;
    }
  }

  .item2 {
    justify-self: end;
  }
